docformatter==1.7.7
fastapi==0.115.14
gunicorn==23.0.0
httpx==0.28.1
jsonschema==4.26.0
orjson==3.11.7
pandas==2.2.3
pytest==9.1.1
python-dotenv==1.1.0
referencing==0.37.0
ruff==0.15.4
sqlalchemy==2.0.35
uvicorn==0.34.3
