[Unit]
Description=Gunicorn instance to serve moalmanac-api
After=network.target

[Service]
User=moalmanac
Group=www-data
WorkingDirectory=/srv/moalmanac/moalmanac-api
EnvironmentFile=/srv/moalmanac/moalmanac-api/.env.production
Environment="PATH=/srv/moalmanac/miniforge3/envs/moalmanac-api/bin"
ExecStart=/srv/moalmanac/miniforge3/envs/moalmanac-api/bin/gunicorn --workers ${GUNICORN_WORKERS} --worker-class uvicorn.workers.UvicornWorker --bind 127.0.0.1:8000 app.main:app

[Install]
WantedBy=multi-user.target