[Unit]
Description=Gunicorn instance to serve moalmanac-api
After=network.target

[Service]
User=breardon
Group=www-data
WorkingDirectory=/home/breardon/moalmanac-api
EnvironmentFile=/home/breardon/moalmanac-api/.env.production
Environment="PATH=/home/breardon/mambaforge-pypy3/envs/moalmanac-api/bin"
ExecStart=/home/breardon/mambaforge-pypy3/envs/moalmanac-api/bin/gunicorn --workers 5 --worker-class uvicorn.workers.UvicornWorker --bind unix:moalmanac-api.sock -m 007 main:app

[Install]
WantedBy=multi-user.target